@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

/* Navbar Section */
.nav-background img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
}

.navbar {
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.logo p {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.navbar ul {
  list-style: none;
  margin-left: 80px;
}

.navbar ul li{
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.active, .link:hover {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.fas {
  font-size: 30px;
  color: white;
}

.auth {
  display: flex;
  align-items: center;
}

.username {
  color: black;
  margin-right: 30px;
}

.login-btn {
  border: none;
  padding: 10px;
  background-color: #9EBD99;
  border-radius: 5px;
}

.login-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Charm', cursive;
}

.login-btn a:visited {
  color: black;
  text-decoration: none;
}

.login-btn:hover {
  background-color: white;
}

.login-btn:hover a {
  color: black;
  font-weight: bold;
}

.header-section {
  margin-top: 70px;
  color: black;
  text-align: center;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  text-decoration: underline;
}

.header-section h2 {
  font-weight: bolder;
}

/* Form Section */
.container {
  margin-top: 150px;
  margin-bottom: 50px;
  background-color: #E8F1E6;
  border-radius: 5px;
  max-width: 50% !important;
}

.container h6 {
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
  font-size: 20px;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

form label {
  font-size: 14px;
}

form input, select {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: white;
  border: none;
  height: 40px;
  margin-top: 5px;
  width: 100%;
}

form textarea {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: white;
  border: none;
  height: 150px;
  margin-top: 10px;
  width: 100%;
}

.submit-btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  cursor: pointer;
}

/* Footer Section */
.footer {
  height: 130px;
  background-color: #184B0F;
}

.fab {
  margin-top: 20px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}

.fab:hover {
    color: #9EBD99;
    text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.footer hr{
  height: 1px;
  width: 15%;
  margin-left: 42%;
  background: white;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}