@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

/* Intro Section */
.intro img {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.intro-txt {
  width: 400px;
  height: 200px;
  border: 5px solid #9EBD99;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 50px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.charm {
  font-family: 'Charm', cursive;
}

.explore {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.explore h5 {
  font-family: 'Charm', cursive;
  color: white;
  font-size: 25px;
}

.fas {
  color: white;
  font-size: 30px;
  margin-left: 15px;
  background-color: #9EBD99;
  padding: 10px;
  border-radius: 5px;
}

/* About Me Section */
#about {
  height: 100%;
  background-color: white;
  padding-bottom: 70px;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header hr {
  width: 15px;
  margin: 15px;
  margin-top: 60px;
  height: 3px;
  border: none;
  background: #1D160B;
}

.section-header h2{
  color: #1D160B;
  font-family: 'Charm', cursive;
  font-size: 25px;
  letter-spacing: 1.0px;
  font-weight: bold;
  margin-top: 50px;
}

.about-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.about-info img {
  float: left;
  margin-left: 180px;
  width: 450px;
  height: 250px;
  margin-right: 30px;
  margin-left: 0px;
}

.about-txt {
  text-align: center;
  width: 700px;
  height: 300px;
  padding-top: 50px;
  color: black;
}

.about-txt h3 {
  font-weight: bold;
}

.light-green-txt {
  color: #9EBD99;
}

.green-txt {
  font-weight: bold;
  font-size: 18px;
  color: #184B0F;
}

/* Recent Posts Section */
.recent-posts {
  height: 100%;
  background-color: #184B0F;
  padding-bottom: 50px;
}

.recent-posts .section-header h2 {
  color: white;
}

.recent-posts .section-header hr {
  background: white;
}

.container {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 50px;
}

.col-md-3 img {
  width: 100%;
  height: 250px;
}

.post-info {
  color: black;
  text-align: center;
  padding: 20px;
}

.post-info h3 {
  text-decoration: underline;
  font-family: 'Charm', cursive;
  color: #9EBD99;
  margin-top: 5px;
}

.post-info h5 {
  font-weight: bold;
  margin-top: 10px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.more-btn {
  border: none;
  padding: 10px;
  background-color: #9EBD99;
  border-radius: 5px;
}

.more-btn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Charm', cursive;
}

.more-btn a:visited {
  color: white;
  text-decoration: none;
}

.more-btn:hover {
  background-color: black;
}

.more-btn:hover a {
  color: white;
  font-weight: bold;
}

.comments-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-section .fas {
  color: rgb(189, 188, 188);
  background-color: transparent;
}

.comments-section p {
  margin-top: 20px;
}

/* Gallery Section */
.gallery {
  height: 400px;
  background-color: white;
}

.gallery img {
  width: 250px;
  height: 250px;
  margin-top: 78px;
  margin-left: 2px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .gallery .container {
  margin-top: 0px;
}

.gallery .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .col-md-3 {
  padding: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
} */