@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body {
  background-color: #1a550e;
  height: 100%;
}

.container {
  margin-top: 150px;
}

.col-md-5 img{
  margin-top: 40px;
  height: 550px;
}

.col-md-6 {
  background-color: white;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  margin-top: 60px;
  padding-bottom: 30px;
}

.col-md-6 h2 {
  font-family: 'Charm', cursive;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #E8F1E6;
  border: 1px solid black;
  height: 40px;
  width: 100%;
}

.submit-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.submit-btn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.col-md-6 p {
  text-align: center;
  margin-top: 40px;
}

.col-md-6 p a {
  color: black;
  text-decoration: none;
}

.col-md-6 p a:visited {
  color: black;
  text-decoration: none;
}