@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

/* Navbar Section */
.navbar {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #184B0F;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.logo p {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li{
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.active, .link:hover {
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 5px;
}

.username {
  color: white;
  border: 1px solid #C4C4C4;
  padding: 10px;
}

.login-btn {
  border: none;
  padding: 10px;
  background-color: #9EBD99;
  border-radius: 5px;
}

.login-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Charm', cursive;
}

.login-btn a:visited {
  color: black;
  text-decoration: none;
}

.login-btn:hover {
  background-color: white;
}

.login-btn:hover a {
  color: black;
  font-weight: bold;
}

/* Profile Info Section */
.profile .container {
  max-width: 30% !important;
  margin-top: 50px;
  text-align: center;
}

.profile .container img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 2px solid black;
  margin-bottom: 20px;
}

.more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.posts {
  margin-right: 30px;
}

.count {
  color: #184B0F;
  font-weight: bold;
}

.submit-btn {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  cursor: pointer;
}

/* Feed Section */
.container {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #E8F1E6;
  margin-right: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.col-md-3 img {
  width: 100%;
  height: 250px;
}

.post-info {
  color: black;
  text-align: center;
  padding: 20px;
}

.post-info h3 {
  text-decoration: underline;
  font-family: 'Charm', cursive;
  color: #9EBD99;
  margin-top: 5px;
}

.post-info h5 {
  font-weight: bold;
  margin-top: 10px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.more-btn {
  border: none;
  padding: 10px;
  background-color: #184B0F;
  border-radius: 5px;
}

.more-btn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.more-btn a:visited {
  color: white;
  text-decoration: none;
}

.more-btn:hover {
  background-color: black;
}

.more-btn:hover a {
  color: white;
  font-weight: bold;
}

.comments-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-section .fas {
  color: rgb(189, 188, 188);
  background-color: transparent;
  margin-right: 10px;
  font-size: 20px;
}

.comments-section p {
  margin-top: 20px;
}

/* Footer Section */
.footer {
  height: 130px;
  background-color: #184B0F;
  margin-top: 40px;
}

.fab {
  margin-top: 20px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}

.fab:hover {
    color: #9EBD99;
    text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.footer hr{
  height: 1px;
  width: 15%;
  margin-left: 42%;
  background: white;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}