@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

/* Navbar Section */
.nav-background img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 300px;
}

.navbar {
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.logo p {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.navbar ul {
  list-style: none;
  margin-left: 80px;
}

.navbar ul li{
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.active, .link:hover {
  border: 2px solid #C4C4C4;
  border-radius: 5px;
  padding: 5px;
}

.auth {
  display: flex;
  align-items: center;
}

.username {
  color: white;
  margin-right: 30px;
}

.login-btn {
  border: none;
  padding: 10px;
  background-color: #9EBD99;
  border-radius: 5px;
}

.login-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Charm', cursive;
}

.login-btn a:visited {
  color: black;
  text-decoration: none;
}

.login-btn:hover {
  background-color: white;
}

.login-btn:hover a {
  color: black;
  font-weight: bold;
}

.header-section {
  margin-top: 70px;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  text-decoration: underline;
}

.header-section h2 {
  font-weight: bolder;
}

/* Travel Blog Post Section */
.container {
  margin-top: 100px;
  height: 100%;
  min-width: 80% !important;
}

.grey-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #848383;
  margin-top: -20px;
}

.grey-section p {
  margin-right: 30px;
}

.col-md-7 {
  min-height: 30% !important;
}

.col-md-7 h3 {
  text-align: center;
  font-weight: bold;
  margin-top: -20px;
}

.col-md-7 hr {
  width: 30px;
  height: 2px;
  background: black;
  margin-top: 5px;
}

.col-md-7 img {
  width: 100%;
  height: 400px;
}

.col-md-7 p {
  text-align: center;
  margin-top: 30px;
  padding: 30px;
}

/* Subscribe Section */

.col-md-4 {
  margin-top: 50px;
  margin-left: 30px;
}

.col-md-4 h5 {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.newsletter {
  padding: 40px 20px;
  background-color: #184B0F;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.newsletter h5 {
  font-weight: bold;
  text-align: center;
  color: white;
}

.newsletter p {
  color: white;
  text-align: left;
  font-size: 15px;
  margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #E8F1E6;
  border: 1px solid black;
  height: 40px;
  margin-top: 10px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

input::placeholder{
  font-size: 15px;
  text-indent: 15px;
}

.submit-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  cursor: pointer;
}

/* Quote Section */
.quote-section h5 {
  text-align: center;
  margin-top: 30px;
}

.quotes {
  background-color: #184B0F;
  border-radius: 0px 100px 10px 10px;
  color: white;
  height: 100%;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.quotes img {
  width: 50px;
  height: 50px;
  margin-left: 150px;
  margin-top: 30px;
}

.quotes p {
  color: white;
  padding: 30px;
  text-align: center;
}

.quotes hr {
  width: 30px;
  height: 2px;
  background: white;
  margin-top: -15px;
}

.quotes h4 {
  text-align: center;
}

.votes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upvote, .downvote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.upvote p, .downvote p {
  margin-left: 5px;
  margin-top: -20px;
}

.upvote .fas, .downvote .fas {
  color: black;
  font-size: 25px;
}

.horizontal {
  background: black;
  margin-top: 80px;
  height: 1px;
}

/* All Comments Section */
.comments-section .container {
  margin-top: 20px;
}

.comments-section #comments-title h4 {
  background-color: #184B0F;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: -40px;
}

.comments-section .row {
  display: flex;
  justify-content: space-between;
}

.col-md-12 {
  border: 1px solid #9EBD99;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 30px;
  max-width: 40% !important;
}

.grey-txt {
  color: #848383;
}

.del-btn {
  border: none;
  padding: 10px;
  background-color: #9EBD99;
  font-weight: bold;
  border-radius: 2px;
  font-family: 'Charm', cursive;
  float: right;
}

.del-btn a, .del-btn:visited {
  color: black;
  text-decoration: none;
}

.comments-default {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Add a Comments Section */
.add-comment .container {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.add-comment h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.add-comment p {
  text-align: center;
  color: #848383;
}

.add-comment label {
  margin-top: 10px;
  margin-left: 200px;
}

.add-comment input {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.add-comment textarea {
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #E8F1E6;
  border: none;
  height: 90px;
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.add-comment .submit-btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  cursor: pointer;
}

/* Footer Section */
.footer {
  height: 130px;
  background-color: #184B0F;
}

.fab {
  margin-top: 20px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}

.fab:hover {
    color: #9EBD99;
    text-decoration: none;
}

.social {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.footer hr{
  height: 1px;
  width: 15%;
  margin-left: 42%;
  background: white;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}