<!-- Footer section -->
<div class="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="logo">
          <img src="../static/images/logo.png" alt="Logo" />
          <p>SHALYNE BLOG</p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="newsletter">
          <h5><strong><span class="charm">Sign Up</span> FOR EMAIL UPDATES </h5></strong>
          <p>Get an email alert for my recents posts and never miss out on them!</p>

          <!-- Subscribe Form Section -->
          <form action="" method="POST">
            {{subscribe_form.csrf_token}}
            {{subscribe_form.firstname.label}}
            {{ subscribe_form.firstname}}

            {{subscribe_form.email.label}}
            {{subscribe_form.email}}    
      
            {{subscribe_form.submit(class='submit-btn')}}
          </form>
        </div>

        <p>Shalyne <span>&#169;</span> 2022.MyWeblog. All Rights Reserved.</p>
      </div>

      <div class="col-md-2">
        <div class="social">
          <a href="https://www.linkedin.com/in/shalyne-waweru-b2b965212/" class="fab fa-linkedin"></a>
          <a href="https://github.com/Shalyne-Waweru" class="fab fa-github"></a>
          <a href="https://www.facebook.com/shalyne.wangari" class="fab fa-facebook"></a>
        </div>
      </div>
    </div>
  </div>


</div>