{% extends 'base.html' %}

{% block content %}

<!-- Intro Section -->
<div class="intro">
  <img src="../static/images/h-background.png" alt="Background Image">

  <div class="intro-txt">
    <h3>Hey!</h3>
    <h3>I'm <span class="charm">Shalyne Waweru</span></h3>
  </div>

  <div class="explore">
    <h5>Explore</h5>
    <a href="#about"><i class="fas fa-long-arrow-alt-down"></i></a>
  </div>
</div>

<!-- About Me Section -->
<div id="about">
  <div class="section-header">
    <hr class="horizontal">
    <h2>About Me</h2>
    <hr class="horizontal">
  </div>

  <div class="about-info">
    <img src="../static/images/about-img.png" alt="My Pictures">

    <div class="about-txt">
      <h3>I’m Driven By My <span class="light-green-txt">Goals</span>, <span class="light-green-txt">Ambitions</span>
        <br> And <span class="light-green-txt">Passion</span></h3>
      <p><span class="green-txt">Goals</span> give meaning to our lives so never have a lack of them <br> and never lose
        focus on them. <br>
        <span class="green-txt">Ambition</span> never comes to an end. Mine is to be creative, <br> modern, to stay one
        step ahead and to enjoy life. <br>
        I draw energy from my <span class="green-txt">Passion</span>. The power and satisfaction <br> that comes from
        focusing on what excites me is so
        serene.
      </p>
    </div>

  </div>
</div>

<!-- Recent Posts Section -->
<div class="recent-posts">
  <div class="section-header">
    <hr class="horizontal">
    <h2>Recent Posts</h2>
    <hr class="horizontal">
  </div>

  <div class="container">
    <div class="row">
      {% for post in recent_posts %}
        <div class="col-md-3">
          <img src="../static/blogPhotos/{{post.blog_pic_path}}" alt="Blog Post Image">

          <div class="post-info">
            <h3>{{post.category}}</h3>
            <h5>{{post.title}}</h5>
            <p>{{post.description | truncate(100)}}</p>
            <p><strong>DATE: </strong> {{post.postedDate.strftime('%Y/%m/%d')}}</p>

            <div class="action-btns">
              <button class="more-btn"><a href="{{ url_for('main.open_post',blog_id = post.id) }}">READ MORE</a></button>
              <div class="comments-section">
                <a href="{{ url_for('main.open_post',blog_id = post.id) }}"><i class="fas fa-comments"></i></a>
                <p>{{post.comments.count()}}</p>
              </div>
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Gallery Section -->
<div class="gallery">
  <div class="images">
    <img src="../static/images/thumbnail-1.jpg" alt="Blog Post Image">
    <img src="../static/images/thumbnail-2.jpg" alt="Blog Post Image">
    <img src="../static/images/thumbnail-3.jpg" alt="Blog Post Image">
    <img src="../static/images/thumbnail-4.jpg" alt="Blog Post Image">
    <img src="../static/images/thumbnail-5.jpg" alt="Blog Post Image">
    <img src="../static/images/thumbnail-6.jpg" alt="Blog Post Image">
  </div>
</div>

{% endblock %}