<!-- Navbar section -->
<header class="navbar">
  <div class="logo">
    <img src="../static/images/logo.png" alt="Logo" />
    <p>BLOG</p>
  </div>

  <ul id="nav-btns">
    <li><a class="link active" href="{{ url_for('main.index') }}">HOME</a></li>
    <li><a class="link" href="/category/Lifestyle">LIFESTYLE</a></li>
    <li><a class="link" href="/category/Travel">TRAVEL</a></li>
    {% if current_user.is_authenticated %}
    <li><a class="link" href="{{ url_for('main.create') }}">CREATE</a></li>
    <li><a class="link" href="{{ url_for('main.profile', uname = current_user.username) }}">PROFILE</a></li>
    {% endif %}
  </ul>

  <div class="auth">
    {% if current_user.is_authenticated %}
    <h5 class="username">HELLO {{current_user.username}}</h5>
    <button class="login-btn"><a href="{{ url_for('auth.logout') }}">LOGOUT</a></button>
    {% else %}
    <button class="login-btn"><a href="{{ url_for('auth.login') }}">LOGIN</a></button>
    {% endif %}
  </div>


</header>